@font-face {
    font-family: 'rubiklight';
    src: url('/assets/webfonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/webfonts/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubiklight_italic';
    src: url('/assets/webfonts/rubik-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/webfonts/rubik-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #090B0B;
    color:rgb(247, 248, 255);
}

.header{
    font-family: 'rubiklight';
    padding-top: clamp(1.5rem,6.25vw,5rem);
    width: 60%;
    margin: auto;
}

.intro-card{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    color: currentColor;
    text-decoration: none;
}

.intro-text{
    margin-left: clamp(0.5rem, 1vw, 1.5rem);
}

.name{
    font-size: clamp(1.75rem, 3.75vw, 2.75rem);
    font-weight: bold;
    margin: 0 0 0.1em;
}

.subtitle{
    font-weight: lighter;
    margin: 0;
}