.home-slideshow {
    position: fixed;
    left: 45%;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 500px;
    animation: fadeIn 1s 1.8s backwards;
    
    .slideshowImages{
        white-space: nowrap;
        transition: ease 1s;

        .slide {
            display: inline-block;
            height: 300px;
            width: 100%;
            
            .slideImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                border-radius: 15px;
            }
        }
    }

    .slideshowDots{
        text-align: center;

        .slideshowDot{
            display: inline-block;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            cursor: pointer;
            margin: 15px 7px 0;
            background-color: #F0F0F7;
        }

        .slideshowDot.active {
            background-color: #C3A456;
        }
    }
}

@media screen and (max-width: 1200px) {
    .home-slideshow {
        position: relative;
        left: 0;
        width: 100%;
    }
}